<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sds.model.domain.Member" alias="Member"/>
		<typeAlias type="com.sds.model.domain.Asset" alias="Asset"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/sds/mybatis/MemberMapper.xml" />
		<mapper resource="com/sds/mybatis/AssetMapper.xml" />
	</mappers>
</configuration>